.chart {
  overflow: hidden;
  &.is-icon {
    .chart {
      &-header {
        justify-content: center;
      }
      &-icon {
        & > * {
          font-size: 20px;
        }
      }
    }
  }
  &-header {
    @include flex-rows;
    align-items: center;
  }
  &-icon {
    @include flex-center;
    @include dimension(24px);

    & > * {
      font-size: var(--font-normal);
      color: var(--grey-color);
    }
  }
  &-title {
    font-size: var(--font-normal);
  }
  &-footer {
    @include flex-rows;
    align-items: center;
    justify-content: space-between;
    > * {
      font-size: var(--font-sm);
      color: var(--grey-color);
    }
    .left,
    .right {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .left {
      margin-right: 5px;
    }
    .right {
      margin-left: 5px;
    }
  }
  &-data {
    &-number {
      @include flex-rows;
      align-items: baseline;
      justify-content: center;
      margin: 10px 0;
      > .amount {
        font-size: var(--font-xl);
        font-weight: bold;
      }
      > .unit {
        color: var(--grey-color);
        font-size: var(--font-normal);
        padding: 0 2.5px;
      }
    }
  }
}
