$form-label-size: 12px;

.form {
    .field {
        position: relative;
        height: $form-field-size;
        width: 100%;
        .control {
            border: 1px solid darken(#fff, 10);
            border-radius: 2px;
            @include flex-rows;
            @extend %expanded;
            padding: 0 10px;
            &.has-icon {
                padding: 0 0;
                .left,
                .right {
                    @include flex-center;
                    @include dimension($form-field-size - 2);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    ion-icon {
                        font-size: 12px;
                        color: darken(#fff, 40);
                    }
                }
                .input {
                    padding-right: 10px;
                }
            }
            .input {
                flex: 1;
                width: 100%;
                border: none;
                height: $form-field-size -2;
                &::placeholder {
                    color: darken(#fff, 20);
                    font-size: $form-label-size;
                    width: 50px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        &.textarea {
            .control {
                padding-top: 10px;
                padding-right: 0;
            }
        }
        &.selector {
            .selector {
                &-items {
                    display: none;
                    border-top: none;
                    border: 1px solid darken(#fff, 10);
                    background: #fff;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    position: absolute;
                    z-index: 99;
                    width: 100%;
                    max-height: 100px;
                    width: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
                &-item {
                    display: block;
                    padding: 10px 10px;
                    cursor: pointer;
                    height: auto;
                    width: 100%;
                    &:hover {
                        background: darken(#fff, 5);
                    }
                }
            }
            @at-root &-open {
                .control {
                    border-bottom: none;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .selector {
                    &-items {
                        display: block;
                    }
                }
            }
        }

        &.checkbox,
        &.radiobox {
            display: flex;
            flex-direction: row;
            align-items: center;
            label {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
            }
            .label {
                padding: 0 5px 0 5px;
            }
        }
    }
}
