%grid-gap {
    &.gap {
        gap: $gap;
    }
}
.rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    flex-basis: 100%;
    &.gap {
        > * {
            padding: $gap / 2;
        }
    }
    &.nowrap {
        flex-wrap: nowrap;
    }
    &.space-b {
        justify-content: space-between;
    }
    .col {
        @for $col from 1 to 12 {
            &-#{$col} {
                width: calc(#{(100% / 12) * $col});
            }
            &-#{$col}v {
                width: calc(#{(100vw / 12) * $col});
            }
        }
        &-auto {
            flex: 1;
        }
    }
}
.grid-r {
    @include grid-rows;
    @extend %grid-gap;
    &-a-1 {
        @include grid-rows(1, auto 1fr);
        @extend %grid-gap;
    }
    &-1-a {
        @include grid-rows(1, 1fr auto);
        @extend %grid-gap;
    }
}

.grid-c {
    @include grid-cols;
    @extend %grid-gap;
    &-a-1 {
        @include grid-cols(1, auto 1fr);
        @extend %grid-gap;
    }
    &-1-a {
        @include grid-cols(1, 1fr auto);
        @extend %grid-gap;
    }
}
