.rows {
  @include flex-rows;
  flex-wrap: wrap;
  &.gap > * {
    padding: $gap;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.space-b {
    justify-content: space-between;
  }
  .col {
    @for $col from 1 to 14 {
      &-#{$col} {
        width: calc(#{(100vw / 14) * $col} - 2px);
      }
      &-#{$col}p {
        width: calc(#{(100% / 14) * $col} - 2px);
      }
    }
    &-auto {
      flex: 1;
    }
  }
}
.grid-r {
  @include grid-rows;
  &-a-1 {
    @include grid-rows(1, auto 1fr);
  }
  &-1-a {
    @include grid-rows(1, 1fr auto);
  }
}

.grid-c {
  @include grid-cols;
  &-a-1 {
    @include grid-cols(1, auto 1fr);
  }
  &-1-a {
    @include grid-cols(1, 1fr auto);
  }
}
