@mixin dimension($size: $avatar-size) {
  width: $size;
  height: $size;
}
@mixin grid-cols($repeat: 1, $frames: auto 1fr) {
  display: grid;
  grid-template-columns: repeat($repeat, $frames);
  align-items: stretch;
  @extend %expanded;
}
@mixin grid-rows($repeat: 1, $frames: auto 1fr) {
  display: grid;
  grid-template-rows: repeat($repeat, $frames);
  @extend %expanded;
}

@mixin flex-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-rows($isReverse: false) {
  display: flex;
  align-items: center;
  @if $isReverse {
    flex-direction: row-reverse;
  } @else {
    flex-direction: row;
  }
}

@mixin flex-cols($isReverse: false) {
  display: flex;
  justify-content: center;
  align-items: stretch;
  @if $isReverse {
    flex-direction: column-reverse;
  } @else {
    flex-direction: column;
  }
}
