$font-normal: 14px !default;
$icon-size: 20px;
$nav-height: 50px;
$nav-link-pad: $nav-height / 2;
$avatar-size: 40px;
$pad-size-sm: 15px;
$pad-size: 20px;
$form-field-size: 30px;

:root {
  --font-normal: #{$font-normal};
  --font-sm: #{$font-normal * 0.75};
  --icon-size: #{$icon-size};
}
