@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:ital,wght@0,300;0,400;1,300&family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../fonts/Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"),
    url("../fonts/Segoe UI Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("../fonts/Segoe UI Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("../fonts/Segoe UI Bold Italic.woff") format("woff");
}

* {
  font-family: "Roboto", "Lato", "Quicksand", "Caveat", cursive, "Segoe UI",
    -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-normal);
  color: var(--dark-color);
}

.txt {
  &-sm {
    font-size: var(--font-sm);
  }
  &-l {
    text-align: left;
  }
  &-r {
    text-align: right;
  }
  &-c {
    text-align: center;
  }
}
