:root {
  --font-normal: 14px;
  --font-sm: 10.5px;
  --icon-size: 20px;
}

:root {
  --dark-color: #2d3436;
  --warning-color: #ff6348;
  --success-color: #2ed573;
  --danger-color: #ea2027;
}

html,
body,
article,
figure,
input,
button,
textarea,
select,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-weight: normal;
  color: inherit;
}

html:hover,
body:hover,
article:hover,
figure:hover,
input:hover,
button:hover,
textarea:hover,
select:hover,
ul:hover,
li:hover,
a:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover, html:active,
body:active,
article:active,
figure:active,
input:active,
button:active,
textarea:active,
select:active,
ul:active,
li:active,
a:active,
p:active,
h1:active,
h2:active,
h3:active,
h4:active,
h5:active,
h6:active {
  outline: none;
}

html,
body, .layout, .layout-adm, .layout-adm > .container, .layout-v-auto-1, .layout-v-1-auto, .layout-h-auto-1, .layout-h-1-auto, .is-profile {
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* ::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-normal);
  color: var(--dark-color);
}

.txt-sm {
  font-size: var(--font-sm);
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

ion-icon {
  --ionicon-stroke-width: 16px;
  font-size: var(--icon-size);
}

pre {
  height: 100%;
  font-family: monospace;
  background-color: #fff;
  width: 100%;
  margin: 4em auto;
  padding: 0.5em;
  border-radius: 0.25em;
  line-height: 0;
  counter-reset: line;
}

pre span {
  display: block;
  line-height: 1.5rem;
}

pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888;
}

.layout {
  overflow: hidden;
}

.layout-adm {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50px 1fr)[1];
      grid-template-rows: repeat(1, 50px 1fr);
}

.layout-adm > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px 1fr)[1];
      grid-template-columns: repeat(1, 50px 1fr);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  align-items: stretch;
}

.layout-v-auto-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto 1fr)[1];
      grid-template-rows: repeat(1, auto 1fr);
}

.layout-v-1-auto {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr auto)[1];
      grid-template-rows: repeat(1, 1fr auto);
}

.layout-h-auto-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto 1fr)[1];
      grid-template-columns: repeat(1, auto 1fr);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.layout-h-1-auto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr auto)[1];
      grid-template-columns: repeat(1, 1fr auto);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.nav a {
  padding: 0 25px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav a.is-icon {
  width: 50px;
  padding: 0;
}

.nav a.is-profile {
  padding: 0 15px;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.nav-left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-left .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-left .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-left .middle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.sm img {
  width: 30px;
  height: 30px;
}

.form .field {
  position: relative;
  height: 45px;
}

.form .field .control {
  border: 1px solid #e6e6e6;
  padding: 0 10px;
  border-radius: 3px;
}

.form .field > label {
  font-size: 12px;
  padding: 2px 8px;
  position: relative;
  top: 6px;
  left: 5px;
  background: #fff;
  height: 15px;
}

.form .field .input {
  width: 100%;
  border: none;
  height: 30px;
}

.form .field .input::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 12px;
}

.form .field .input:-ms-input-placeholder {
  color: #cccccc;
  font-size: 12px;
}

.form .field .input::-ms-input-placeholder {
  color: #cccccc;
  font-size: 12px;
}

.form .field .input::placeholder {
  color: #cccccc;
  font-size: 12px;
}

.form .field .textarea {
  height: 100px;
  padding: 5px 0;
}

.form .field.selector .selector-items {
  display: none;
  border-top: none;
  border: 1px solid #e6e6e6;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form .field.selector .selector-item {
  display: block;
  padding: 10px 10px;
  cursor: pointer;
}

.form .field.selector .selector-item:hover {
  background: #f2f2f2;
}

.form .field.selector.open .control {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form .field.selector.open .selector-items {
  display: block;
}

.form .field.checkbox, .form .field.radiobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-items: center;
  height: auto;
}

.form .field.checkbox label, .form .field.radiobox label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: auto;
}

.form .field.checkbox .label, .form .field.radiobox .label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 5px;
  cursor: pointer;
}

:root {
  --wire-b-color: #ededed;
}

.is-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto 1fr)[1];
      grid-template-rows: repeat(1, auto 1fr);
}

.wire-b {
  border-bottom: 1px solid var(--wire-b-color);
}

.wire-l {
  border-left: 1px solid var(--wire-b-color);
}

.wire-r {
  border-right: 1px solid var(--wire-b-color);
}

.footer {
  text-align: center;
  padding: 5px;
}

.pad {
  padding: 20px;
}

.pad-sm {
  padding: 15px;
}

.pad-x-sm {
  padding: 0 15px;
}

.w-300 {
  width: 300px;
}

.w-50p {
  width: 50%;
}

.w-50vw {
  width: 50vw;
}

.scrollable {
  overflow: auto;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-items: center;
}

.inline-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */