@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:ital,wght@0,300;0,400;1,300&family=Quicksand:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
:root {
  --font-normal: 14px;
  --font-sm: 10.5px;
  --font-lg: 21px;
  --font-xl: 28px;
  --icon-size: 20px;
}

:root {
  --dark-color: #2d3436;
  --grey-color: grey;
  --warning-color: #ff6348;
  --success-color: #2ed573;
  --danger-color: #ea2027;
  --hover-color: gray;
  --hover-b-color: #cccccc;
  --btn-b-color: #e6e6e6;
}

html,
body,
table,
fieldset,
legend,
article,
figure,
input,
button,
textarea,
select,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6, .btn, .tag, .tag-btn {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-weight: normal;
  color: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

html:hover,
body:hover,
table:hover,
fieldset:hover,
legend:hover,
article:hover,
figure:hover,
input:hover,
button:hover,
textarea:hover,
select:hover,
ul:hover,
li:hover,
a:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover, .btn:hover, .tag:hover, .tag-btn:hover, html:active,
body:active,
table:active,
fieldset:active,
legend:active,
article:active,
figure:active,
input:active,
button:active,
textarea:active,
select:active,
ul:active,
li:active,
a:active,
p:active,
h1:active,
h2:active,
h3:active,
h4:active,
h5:active,
h6:active, .btn:active, .tag:active, .tag-btn:active {
  outline: none;
}

html,
body, .form .field .control, .h-expand {
  width: 100%;
  height: 100%;
}

.grid-r, .grid-r-a-1, .grid-r-1-a, -1.grid-r-1, .grid-c, .grid-c-a-1, .grid-c-1-a, -1.grid-c-1, .nav a, .nav-top, .nav-top .left, .nav-top .right, .nav-left, .nav-right, .nav-side, .nav-left .top, .nav-right .top, .nav-side .top, .nav-left .middle, .nav-right .middle, .nav-side .middle, .nav-left .bottom, .nav-right .bottom, .nav-side .bottom, .modal, .avatar-group, .form .field .control, .form .field .control.has-icon .left,
.form .field .control.has-icon .right, .btn, .card-body .thumb, .card-footer, .review, .review-stars, .slider, .chart-header, .chart-icon, .chart-footer, .chart-data-number, .profile-header, .profile-header .picture, .profile-header .description, .profile-actions .actions, .inline, .inline-r, .flex-c {
  overflow: hidden;
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../fonts/Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("../fonts/Segoe UI Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("../fonts/Segoe UI Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"), url("../fonts/Segoe UI Bold Italic.woff") format("woff");
}

html {
  font-family: "Roboto", "Lato", "Quicksand", "Caveat", cursive, "Segoe UI", -apple-system, BlinkMacSystemFont, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-normal);
  color: var(--dark-color);
}

.txt-sm {
  font-size: var(--font-sm);
}

.txt-l {
  text-align: left;
}

.txt-r {
  text-align: right;
}

.txt-c {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* ::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

ion-icon,
.is-icon {
  --ionicon-stroke-width: 16px;
  font-size: var(--icon-size);
}

.icon-sm > * {
  font-size: 10px;
}

pre {
  height: 100%;
  font-family: monospace;
  background-color: #fff;
  width: 100%;
  margin: 4em auto;
  padding: 0.5em;
  border-radius: 0.25em;
  line-height: 0;
  counter-reset: line;
}

pre span {
  display: block;
  line-height: 1.5rem;
}

pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888;
}

.gap.grid-r, .gap.grid-r-a-1, .gap.grid-r-1-a, -1.gap.grid-r-1, .gap.grid-c, .gap.grid-c-a-1, .gap.grid-c-1-a, -1.gap.grid-c-1 {
  gap: 10px;
}

.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.rows.gap > * {
  padding: 5px;
}

.rows.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.rows.space-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rows .col-1 {
  width: calc(8.33333%);
}

.rows .col-1v {
  width: calc(8.33333vw);
}

.rows .col-2 {
  width: calc(16.66667%);
}

.rows .col-2v {
  width: calc(16.66667vw);
}

.rows .col-3 {
  width: calc(25%);
}

.rows .col-3v {
  width: calc(25vw);
}

.rows .col-4 {
  width: calc(33.33333%);
}

.rows .col-4v {
  width: calc(33.33333vw);
}

.rows .col-5 {
  width: calc(41.66667%);
}

.rows .col-5v {
  width: calc(41.66667vw);
}

.rows .col-6 {
  width: calc(50%);
}

.rows .col-6v {
  width: calc(50vw);
}

.rows .col-7 {
  width: calc(58.33333%);
}

.rows .col-7v {
  width: calc(58.33333vw);
}

.rows .col-8 {
  width: calc(66.66667%);
}

.rows .col-8v {
  width: calc(66.66667vw);
}

.rows .col-9 {
  width: calc(75%);
}

.rows .col-9v {
  width: calc(75vw);
}

.rows .col-10 {
  width: calc(83.33333%);
}

.rows .col-10v {
  width: calc(83.33333vw);
}

.rows .col-11 {
  width: calc(91.66667%);
}

.rows .col-11v {
  width: calc(91.66667vw);
}

.rows .col-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grid-r {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr 1fr)[1];
      grid-template-rows: repeat(1, 1fr 1fr);
}

.grid-r-a-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto 1fr)[1];
      grid-template-rows: repeat(1, auto 1fr);
}

.grid-r-1-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr auto)[1];
      grid-template-rows: repeat(1, 1fr auto);
}

.grid-r-1-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr 1fr)[1];
      grid-template-rows: repeat(1, 1fr 1fr);
}

.grid-c {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.grid-c.gap {
  gap: 10px;
}

.grid-c-a-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto 1fr)[1];
      grid-template-columns: repeat(1, auto 1fr);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.grid-c-a-1.gap {
  gap: 10px;
}

.grid-c-1-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr auto)[1];
      grid-template-columns: repeat(1, 1fr auto);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.grid-c-1-a.gap {
  gap: 10px;
}

.grid-c-1-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr 1fr)[1];
      grid-template-columns: repeat(1, 1fr 1fr);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.grid-c-1-1.gap {
  gap: 10px;
}

.table {
  width: 100%;
  text-align: left;
}

.nav a {
  padding: 0 25px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--dark-color);
  cursor: pointer;
}

.nav a.is-icon {
  width: 50px;
  padding: 0;
}

.nav a.is-icon > * {
  color: var(--grey-color);
}

.nav a:hover {
  color: var(--dark-color);
}

.nav a:hover > * {
  color: var(--dark-color);
}

.nav-profile .username {
  font-size: var(--font-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-left, .nav-right, .nav-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-left .top, .nav-right .top, .nav-side .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-left .middle, .nav-right .middle, .nav-side .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.nav-left .bottom, .nav-right .bottom, .nav-side .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  z-index: 100;
}

.modal.modal-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container {
  max-width: 70vw;
  max-height: 60vh;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #cccccc;
  position: relative;
  overflow: hidden;
}

.modal-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-action button {
  background: transparent;
}

.avatar img {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
}

.avatar-sm img {
  width: 30px;
  height: 30px;
}

.avatar-lg img {
  width: 80px;
  height: 80px;
}

.avatar-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.avatar-group > * {
  position: relative;
}

.avatar-group > *:nth-of-type(1) {
  left: 30px;
}

.avatar-group > *:nth-of-type(2) {
  left: 15px;
}

.avatar-editable {
  position: relative;
}

.avatar-editable .btn {
  position: absolute;
  top: 70%;
  right: 0;
}

.form .field {
  position: relative;
  height: 35px;
  width: 100%;
}

.form .field .control {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
}

.form .field .control.has-icon {
  padding: 0 0;
}

.form .field .control.has-icon .left,
.form .field .control.has-icon .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  height: 33px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form .field .control.has-icon .left ion-icon,
.form .field .control.has-icon .right ion-icon {
  font-size: 12px;
  color: #999999;
}

.form .field .control.has-icon .input {
  padding-right: 10px;
}

.form .field .control .input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border: none;
  height: 35px -2;
}

.form .field .control .input::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 12px;
  width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form .field .control .input:-ms-input-placeholder {
  color: #cccccc;
  font-size: 12px;
  width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form .field .control .input::-ms-input-placeholder {
  color: #cccccc;
  font-size: 12px;
  width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form .field .control .input::placeholder {
  color: #cccccc;
  font-size: 12px;
  width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form .field.textarea .control {
  padding-top: 10px;
  padding-right: 0;
}

.form .field.selector .selector-items {
  display: none;
  border-top: none;
  border: 1px solid #e6e6e6;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  z-index: 99;
  width: 100%;
  max-height: 100px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.form .field.selector .selector-item {
  display: block;
  padding: 10px 10px;
  cursor: pointer;
  height: auto;
  width: 100%;
}

.form .field.selector .selector-item:hover {
  background: #f2f2f2;
}

.form .field.selector-open .control {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form .field.selector-open .selector-items {
  display: block;
}

.form .field.checkbox, .form .field.radiobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .field.checkbox label, .form .field.radiobox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.form .field.checkbox .label, .form .field.radiobox .label {
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.form .checkboxes {
  max-height: 36px;
  overflow: auto;
  border: 1px solid #f2f2f2;
  padding: 0 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 34px;
  background: #fff;
  border: 1px solid var(--btn-b-color);
  border-radius: 2px;
  padding: 0 15px;
  cursor: pointer;
}

.btn:active, .btn:hover {
  border-color: var(--hover-b-color);
  color: var(--hover-color);
}

.btn:active *, .btn:hover * {
  color: var(--hover-color);
}

.btn-icon {
  padding: 0 0;
  width: 34px;
  height: 34px;
}

.btn-icon * {
  font-size: 12px;
}

.btn-sm {
  height: 16px;
}

.btn-sm.btn-icon {
  width: 22px;
  height: 22px;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.tags .tag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

.tag-icon {
  padding: 0 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tag-icon * {
  font-size: 12px;
}

.tag-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0 5px 10px;
}

.tag-btn {
  cursor: pointer;
  background: none;
}

.tag-btn:hover, .tag-btn:hover {
  color: gray;
}

.card {
  overflow: hidden;
}

.card .reviews {
  margin-bottom: 5px;
}

.card .title {
  margin-bottom: 5px;
  font-size: var(--font-normal);
  font-weight: bold;
}

.card .description {
  font-size: calc(var(--font-normal) - 2px);
}

.card.card-overlay {
  position: relative;
  background-size: cover;
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.card.card-overlay:hover .card-header {
  display: block;
}

.card.card-overlay .card-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  display: none;
  z-index: 3;
}

.card.card-overlay .card-header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card.card-overlay .card-body {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: rgba(34, 34, 34, 0.5);
  color: #fff;
  z-index: 1;
}

.card.card-overlay .card-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 15px;
  background-color: rgba(34, 34, 34, 0.5);
  color: #fff;
}

.card-body .thumb {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-body .thumb img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #fafafa;
  border-radius: 2px;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
  font-size: var(--font-sm);
  color: var(--grey-color);
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-title {
  font-size: var(--font-sm);
  font-weight: bold;
}

.review-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.review-stars * {
  font-size: 12px;
}

.slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto 1fr auto)[1];
      grid-template-columns: repeat(1, auto 1fr auto);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slides {
  overflow: auto;
}

.slider .slides > * {
  width: 100vw;
  padding: 10px;
}

.chart {
  overflow: hidden;
}

.chart.is-icon .chart-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart.is-icon .chart-icon > * {
  font-size: 20px;
}

.chart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
}

.chart-icon > * {
  font-size: var(--font-normal);
  color: var(--grey-color);
}

.chart-title {
  font-size: var(--font-normal);
}

.chart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chart-footer > * {
  font-size: var(--font-sm);
  color: var(--grey-color);
}

.chart-footer .left,
.chart-footer .right {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart-footer .left {
  margin-right: 5px;
}

.chart-footer .right {
  margin-left: 5px;
}

.chart-data-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.chart-data-number > .amount {
  font-size: var(--font-xl);
  font-weight: bold;
}

.chart-data-number > .unit {
  color: var(--grey-color);
  font-size: var(--font-normal);
  padding: 0 2.5px;
}

.profile-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto 1fr)[1];
      grid-template-rows: repeat(1, auto 1fr);
  background: #f2f2f2;
}

.profile-header .picture {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-header .description {
  padding: 0 20px 20px;
  font-size: var(--font-sm);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-header .username {
  font-size: var(--font-normal);
  font-weight: bold;
}

.profile-actions {
  position: relative;
  background: transparent;
}

.profile-actions .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: align;
      -ms-flex-align: align;
          align-items: align;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 99;
}

.loader > * {
  font-size: 16px;
}

:root {
  --wire-b-color: #ededed;
}

.wire-b {
  border-bottom: 1px solid var(--wire-b-color);
}

.wire-l {
  border-left: 1px solid var(--wire-b-color);
}

.wire-r {
  border-right: 1px solid var(--wire-b-color);
}

.wire-t {
  border-top: 1px solid var(--wire-b-color);
}

.footer {
  text-align: center;
  padding: 5px;
}

.pad {
  padding: 20px;
}

.pad-sm {
  padding: 15px;
}

.pad-x-sm {
  padding: 0 15px;
}

.pad-5 {
  padding: 5px;
}

.no-pad-t {
  padding-top: 0;
}

.no-pad-b {
  padding-bottom: 0;
}

.w-100 {
  width: 100px;
}

.w-150 {
  width: 150px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

.w-50p {
  width: 50%;
}

.w-100p {
  width: 100%;
}

.w-50v {
  width: 50vw;
}

.w-35v {
  width: 35vw;
}

.w-80v {
  width: 80vw;
}

.min-w-350 {
  min-width: 350px;
}

.h-100 {
  height: 100px;
}

.h-300 {
  height: 300px;
}

.h-auto {
  height: auto;
}

.h-100p {
  height: 100%;
}

.scroll {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inline-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin-b {
  margin-bottom: 15px;
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.j-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flow-a {
  overflow: auto;
}

.flow-visible {
  overflow: visible;
}

.flow-hidden {
  overflow: hidden;
}

.outline {
  border: none;
}

.circle {
  border-radius: 50%;
}

.flex-a {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
/*# sourceMappingURL=main.css.map */